        body {
          background-color: #bfc1f5;
        }

        .login-container {
          max-width: 400px;
          margin: 0 auto;
          padding: 40px 20px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          text-align: center;
          margin-top: 100px;
        }

        .login-logo {
          width: 100px;
          margin-bottom: 20px;
        }

        .form-control {
          margin-bottom: 20px;
        }

        .btn-login {
          background-color: #0079bf;
          border-color: #0079bf;
        }

        .btn-login:hover {
          background-color: #005a85;
          border-color: #005a85;
        }